body {
    background-color:rgb(3,3,3);
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}
.headNav {
    background-color: rgb(26,26,27);
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(40,39,41);
}
.title{
    color:  rgb(216,218,220);
    font-size: larger;
}
.search{
    background-color:rgb(40,39,41);
    border-width:1px;
    border-style: solid;
    border-color: rgb(46,46,48);
    align-self:center;
}

.nav-link{
    background-color:rgb(26,26,27);
    color:rgb(216,218,220);
}
.nav-link:hover{
    background-color:rgb(26,26,27);
    color:rgb(216,218,220);
    border-width: 0px;
}
.nav-link.active{
    background-color:rgb(40,39,41);
}
.card-header{
    background-color:rgb(26,26,27);
  

}
.card{
    background-color:rgb(40,39,41);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color:rgb(40,39,41);
    color:rgb(216,218,220);
    border-width: 1px;
    border-color: rgb(40,39,41);
}
.form-control{
    background-color:rgb(40,39,41) ;
    border-width: 2px;
    border-color: rgb(46,46,48);
}
.h5{
    color:rgb(216,218,220);
}
p{
    color:rgb(216,218,220);
}
.title-input{
margin-bottom: 10px;
}